<div class="col-md-6">
    <label for="job-type" class="search-text search-work">Тип работа</label>
</div>
<div class="col-md-6">
	<select class="selectpicker" title="избери" data-actions-box="true" multiple>
    	<optgroup label="Земеделска работа">
    		<option value="Гледане на крави">Гледане на крави</option>
    		<option value="Ремонт на покрив">Ремонт на покрив</option>
    		<option value="Цепене на дърва">Цепене на дърва</option>
    	</optgroup>
    	<optgroup label="Домашна работа">
    		<option value="Разхождане на мишле">Разхождане на мишле</option>
    		<option value="Пране на ръка">Пране на ръка</option>
    		<option value="Чистене">Чистене</option>
    		<option value="Плетене">Плетене</option>
    	</optgroup>
    	<optgroup label="Учебни дейности">
    		<option value="Уроци за живота">Уроци за живота</option>
    		<option value="Шахмат">Шахмат</option>
    		<option value="Ръчен труд">Ръчен труд</option>
    		<option value="Обучение по религиозно пастафарианство">Обучение по религиозно пастафарианство</option>
    	</optgroup>
    </select>
</div>