{% extends 'base.html.twig' %}

{% block body %}

<div class="container home">
	<!-- Introduction Row -->
	<div class="row">
		<div>
			<h1 class="page-header text-center">Търси Обяви</h1>

			<form class="adv-form text-center">
				<div class="form-wrapper">
					<div class="search-boxes-wrapper">
						<div class="ad-type">			
		                    {% include 'search-type.html' %}
    					</div>
    					<div>
    						{% include 'search-city.html' %}
    					</div>
    					<div>
    						{% include 'search-work.html' %}
    					</div>			
    				</div>
    			<button type="button" class="btn btn-primary btn-lg btn-block btn-search"><a href="{{path('search')}}">Виж Резултати</a></button>
    			</div>
  			</form>
		</div>
	</div>
</div>

{% endblock %}