{% extends 'base.html.twig' %}

{% block body %}

<div class="container home">
	<!-- Introduction Row -->
	<div class="row">
		<div>
			<h1 class="page-header text-center">Търси Обяви</h1>

			<form class="adv-form text-center">
				<div class="form-wrapper">
					<div class="search-boxes-wrapper">
						<div class="ad-type">			
		                    {% include 'search-type.html' %}
    					</div>
    					<div>
    						{% include 'search-city.html' %}
    					</div>
    					<div>
    						{% include 'search-work.html' %}
    					</div>			
    				</div>
    			<button type="button" class="btn btn-primary btn-lg btn-block btn-search"><a href="{{path('search-results')}}">Виж Резултати</a></button>
    			</div>
  			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-md 8">
			<div class="message well text-right">
				Здравейте скъпи Потребители,
				<br/ ><br />
				iNeed! е първият уеб-портал в България, предлагащ обяви за временна или еднократна работа. 
				Целта на нашият екип е да помогне на всички, които искат да получат допълнителни приходи,
				както и на тези от вас, които търсят точния човек за свършване на някаква задача.
				Потокът на обяви се извършва в 2 посоки - обяви на хора, които искат да свършат дадена работа
				 и обяви за работа, която трябва да се свърши. 
				Стремим се да Ви дадем достатъчно свобода и да улесним използването на нашата система. Успех!
				<br/ ><br />
				Екипът на iNeed!
			</div>
		</div>
	</div>
</div>

{% endblock %}