{% extends 'base.html.twig' %}

{% block body %}

<div class="container single-profile">
	<div class="row">
		<div class="col-md-6">
			<h1>Профил на Тихомир Янев</h1>
			<h3>предлагащ работа</h3>
		</div>
		<div class="col-md-6">		
			<input id="input-7-sm" name="input-7-sm" class="rating rating-loading" 
					data-show-clear="false" data-show-caption="false" value="1" data-min="0" 
					data-max="5" data-step="1" data-size="sm">
			<img class="img-thumbnail img-responsive img-right img-person" src="/imgs/tisho2.jpg" alt="person-picture" />
			<div class="user-description well">"Не съм стигнал до тук, само за да стигна до тук!"</div>
		</div>
	</div>
	<div class="row section">
		<div class="col-md-6">
			<!--
			<div class="nice-hr">
				Активни обяви за работа:
			</div>
			<div>
				В момента този потребител няма активни обяви.
			</div>
			-->
			<div class="row">
				<div class="nice-hr">Лична Информация</div>
				<div class="col-md-6">Име:</div>
				<div class="col-md-6"><strong>Тихомир</strong></div>
				<div class="col-md-6">Презиме:</div>
				<div class="col-md-6"><strong>Димитров</strong></div>
				<div class="col-md-6">Фамилия:</div>
				<div class="col-md-6"><strong>Янев</strong></div>
				<div class="col-md-6">E-mail:</div>
				<div class="col-md-6"><strong>t.d.yanev@gmail.com</strong></div>
				<div class="col-md-6">Местоживеене:</div>
				<div class="col-md-6"><strong>София</strong></div>
			</div>
			
			<div class="row">
				<div class="nice-hr margin-top">Образование</div>
				<div class="col-md-6">Период:</div>
				<div class="col-md-6"><strong>2005-2010</strong></div>
				<div class="col-md-6">Специалност:</div>
				<div class="col-md-6"><strong>Математика и Информатика</strong></div>
				<div class="col-md-6">Квалификационна степен:</div>
				<div class="col-md-6"><strong>Средно образование</strong></div>
				<div class="col-md-6">Учебно заведение:</div>
				<div class="col-md-6"><strong>МГ "Петър Берон"</strong></div>
				<div class="col-md-6">Населено място:</div>
				<div class="col-md-6"><strong>Варна</strong></div>
			</div>
			<hr>
			
			<div class="row">
				<div class="col-md-6">Период:</div>
				<div class="col-md-6"><strong>2010-2014</strong></div>
				<div class="col-md-6">Специалност:</div>
				<div class="col-md-6"><strong>Информатика</strong></div>
				<div class="col-md-6">Квалификационна степен:</div>
				<div class="col-md-6"><strong>Бакалавър</strong></div>
				<div class="col-md-6">Учебно заведение:</div>
				<div class="col-md-6"><strong>СУ "Св. Климент Охридски"</strong></div>
				<div class="col-md-6">Населено място:</div>
				<div class="col-md-6"><strong>София</strong></div>
			</div>
			
			<div class="row">
				<div class="nice-hr">Езици</div>
				<div class="col-md-6">Майчин език:</div>
				<div class="col-md-6"><strong>Български</strong></div>
				<div class="col-md-6">Английски език:</div>
				<div class="col-md-6"><strong>Професионално ниво</strong></div>
				<div class="col-md-6">Руски език:</div>
				<div class="col-md-6"><strong>Добро ниво</div>
			</div>
			
			<div class="row">
				<div class="nice-hr">Сертификати</div>
				<ul>
					<li>TOEFL - английски език - C1</li>
				</ul>
			</div>
			
			<div class="row">
			<div class="nice-hr">Работа, която може да извършва</div>
			<ul>
				<li>Уроци по шахмат</li>
				<li>Копане на градината</li>
				<li>И още много други</li>
			</ul>
			</div>
		</div>
		<div class="col-md-6">
		</div>
	</div>
</div>

{% endblock %}