{% extends 'base.html.twig' %}

{% block body %}

<div class="container single-profile">
	<div class="row">
		<div class="col-md-6">
			<h1>Профил на Тихомир Янев</h1>
			
		</div>
		<div class="col-md-6">
			<img class="img-thumbnail img-responsive img-right img-person" src="/imgs/tisho2.jpg" alt="person-picture" />
		</div>
	</div>
</div>

{% endblock %}