{% extends 'base.html.twig' %}

{% block body %}
<div class="container search-results">
	<h1>Показвани резултати за:</h1>
	<ul class="results-for-list">
		<li><span class="s search-city">обяви за работа</span></li>
		<li>град: <span class="s search-city">Всички</span></li>
		<li>тип работа: <span class="s search-type">Всички</span></li>
	</ul>
	<hr>

	<!-- Search Results -->
	<div class="row">
		<a href="#"class="search-res-form">
		<div class="col-lg-6 col-sm-6 text-left person-form">
			<img class="img-thumbnail img-responsive img-center img-person"
				src="/imgs/tisho2.jpg" alt="person-picture" />
			<div class="person-text">
				<h3>
					Тихомир Янев
				</h3>
				<h4>Варна</h4>
				<ul class="search-res-capabilities">
					<li>Строителни дейности</li>
					<li>Уроци по музика</li>
				</ul>
			</div>
		</div>
		</a>
		
		<a href="#"class="search-res-form">
		<div class="col-lg-6 col-sm-6 text-left person-form">
			<img class="img-thumbnail img-responsive img-center img-person"
				src="imgs/mamma.jpg" alt="person-picture" />
			<div class="person-text">
				<h3>
					Силвена Митевa
				</h3>
				<h4>Русе</h4>
				<ul class="search-res-capabilities">
					<li>Цепене на дърва</li>
					<li>Уроци по шахмат</li>
				</ul>
			</div>
		</div>
		</a>
		
		<a href="#"class="search-res-form">
		<div class="col-lg-6 col-sm-6 text-left person-form">
			<img class="img-thumbnail img-responsive img-center img-person"
				src="imgs/tedi.jpg" alt="person-picture" />
			<div class="person-text">
				<h3>
					Теодора Василевa
				</h3>
				<h4>София</h4>
				<ul class="search-res-capabilities">
					<li>Разхождане на куче(та)</li>
					<li>Готвене</li>
					<li>Чистене</li>
				</ul>
			</div>
		</div>
		</a>
		
		<a href="#"class="search-res-form">
		<div class="col-lg-6 col-sm-6 text-left person-form">
			<img class="img-thumbnail img-responsive img-center img-person"
				src="imgs/pacho.jpg" alt="person-picture" />
			<div class="person-text">
				<h3>
					Пламен Марков
				</h3>
				<h4>Ямбол</h4>
				<ul class="search-res-capabilities">
					<li>Замеделска работа - всичко</li>
				</ul>
			</div>
		</div>
		</a>
		
		<a href="#"class="search-res-form">
		<div class="col-lg-6 col-sm-6 text-left person-form">
			<img class="img-thumbnail img-responsive img-center img-person"
				src="imgs/ivchoo.jpg" alt="person-picture" />
			<div class="person-text">
				<h3>
					Ивелин Якимов
				</h3>
				<h4>Русе</h4>
				<ul class="search-res-capabilities">
					<li>Поправка на хардуер</li>
					<li>Ремонтни дейности</li>
				</ul>
			</div>
		</div>
		</a>
		
		<a href="#"class="search-res-form">
		<div class="col-lg-6 col-sm-6 text-left person-form">
			<img class="img-thumbnail img-responsive img-center img-person"
				src="imgs/smiles.jpg" alt="person-picture" />
			<div class="person-text">
				<h3>
					Катерина Филиповска
				</h3>
				<h4>София</h4>
				<ul class="search-res-capabilities">
					<li>Гледане на дете/деца</li>
				</ul>
			</div>
		</div>
		</a>
	</div>
</div>
{% endblock %}