html {
	position: relative;
	min-height: 100%;
}

body {
    padding-top: 100px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    margin-bottom: 150px;
}


/* ------- NAVBAR MENU ------- */

nav {
	font-size: 16px;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	margin-left: 0;
	padding: 1px 0 0 0;
}

.navbar-default {
	background-color: #e7e7e7;
	border-color: darkblue;
}

.navbar-default .navbar-nav>li>a {
	color: #337AB7;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #286090;
}

.dropdown-menu>li>a {
	padding: 6px 23px;
}

.nav .dropdown.menu {
	display: inline;
}

.badge {
	background-color: red;
	vertical-align: top;
}

/* END NAV */


/* ------- SEARCH HOME ------- */

h1.page-header {
	margin-top: 30px;
}

.adv-form, footer .container .row {
	border-right: 1px dotted #77A1E3;
	border-left: 1px dotted #77A1E3;
}

.adv-form .radio {
	display: inline;
	margin: 0 40px;
	font-size: 20px;
}

.adv-form .radio:hover {
	border-bottom:1px solid;
}

.search-text {
	font-size: 19px;
	font-weight: normal;
	left: 0;
	margin: 48px 0 0 61px;
	position: absolute;
}

.bootstrap-select.btn-group {
	margin: 45px -45px 0 0;
}

.btn-search {
	font-weight: bold;
	margin: 0 auto;
	width: 40%;
}

.btn-search a {
	color: #fff;
}

.btn-search a:hover {
	text-decoration: none;
}

.search-boxes-wrapper {
	min-height: 250px;
}

.form-wrapper {
	margin: 0 auto;
	position: relative;
	width: 50%;
}

/* END SEARCH HOME */


/* ------- PAID MEMBERSHIP LOG AD ------- */

article .paid-membership-long-ad {
	height: 200px;
	margin-top: 100px;
	width: 100%;
}

/* END LONG AD */


/* ------- SEARCH RESULTS ------- */

 .img-person {
 	float: left;
 	height: 200px;
 	width: 250px;
 }
 
 .search-res-form {
	color: #000000; 
}

.search-res-form:hover .person-form {
	cursor: pointer;
}

.search-res-form:hover .img-person {
	border: 1px solid blue;
	box-shadow: 5px 5px 5px grey;
}

.search-res-form:hover .person-text {
	color: #000;
}

.search-res-form:hover .person-text h3 {
	color: #337AB7;
	text-decoration: underline;
}

.search-res-form .person-text h3 {
	margin-top: 0;
}
 
.person-form {
	margin: 30px 0;
}

.person-text {
	overflow: hidden;
	padding-left: 15px;
}

.search-res-capabilities {
	margin-top: 20px;
	padding-left: 20px;
}

.search-res-capabilities li {
	margin: 7px 0;
}

.search-results .results-for-list {
	font-size: 16px;
}

.search-results .results-for-list .s {
	font-style: italic;
}
 
 /* END SEARCH RES */
 
 
 /* ------- SINGLE PROFILE ------- */
 
 .single-profile .img-person {
	box-shadow: 5px 5px 5px grey;
	height: 300px;
 	position: absolute;
 	right: 0;
 	top: 60px;
 	width: 350px
 }
 
 .single-profile .rating-container {
 	position: absolute;
 	right: 75px;
 }
 
 .single-profile .user-description {
	box-shadow: 5px 5px 5px grey;
 	font-family: Comic Sans MS;
 	font-size: 16px;
 	position: absolute;
 	right: 0;
 	top: 390px;
 	width: 350px;
 }
 
 .single-profile h1 {
 	margin-top: 0;
 }
 
 .single-profile h3 {
 	margin-bottom: 20px;
 }
 
 /* END SINGLE PROFILE */
 

/* ------- FOOTER ------- */

.footer {
  background-color: #e7e7e7;
  border-top: 1px solid darkblue;
  bottom: 0;
  height: 100px;
  left: 0;
  margin: 55px 0 0 0;
  padding-top: 20px;
  position: absolute;
  width: 100%;
}

.navbar-fixed-bottom {
	margin-bottom: 15px;
}

/* END FOOTER */


/* ------- BASIC STYLES ------- */

.col-md-6 {
	position: relative !important;
}

.nice-hr {
	border-bottom: 1px solid #96bdf8;
	color: #123160;
	font-weight: bold;
	margin: 30px 0px 10px 15px;
	text-transform: uppercase;
}

.img-center {
	margin: 0 auto;
}

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

/* END BASIC STYLES */

/* ------- MEDIA QUERIES 768 ------- */

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}

/* END QUERY 768 */